body {
    margin:0;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-family: 'Montserrat';
}
h2, h3 {
    padding-bottom: 10px;
    color: #ffff5a;
}
ul {
    text-align: left;
}
table {
    text-align: left;
}
.bottom-container {
    background-color: rgb(32, 32, 32);
    color: rgb(60, 60, 60);
    margin-top: 10px;
    padding: 20px 0 10px;
    border-width: 10px;
    border-style: solid;
    bottom: 10px;
}

.middle-container{
    padding: 5%;
}
hr {
    border: dotted;
    color: white;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

.footer-link {
    margin-left: 20px;
    margin-right: 20px;
    
}


a:hover {
    color: rgb(255, 181, 108);
}
a:visited {
    color: rgb(255, 255, 255);
}

img {
    
    position: relative;
}
.cbtn {
    margin: 40px auto;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: #495057;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
}

.content{
    margin: 5%;
    position: relative;
    left:50%;
    bottom: 20vh;
    width: 80%;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
.slider{
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
.slider.active{
    transform: translateX(0);
    opacity: 1;
}
.box-opaque{
    position: absolute;
    top: 85%;
    left: 20%;
    text-align: left;
    transform: translate(-50%, -50%);
}
h1 {
    margin-top: 0;
}
h1,h2,h4,h5,h6,p {
    color: white;
    
}

.princeton-pic,  .carts-logo {
    float: left;
    cursor: pointer;
    width: 15%;
    margin-right: 30px;
}

.profile-pic {
    float: left;
    width: 15%;
    margin-right: 30px;
}

.gitlogo, .lilogo,.gmaillogo{
    cursor: pointer;
}
.rowing-pic {
    cursor: pointer;
    float: right;
    width: 15%;
    margin-left: 30px;
    top: 10px;
}

.floyd-row {
    
    position: absolute;
    width: 70%;
    top: 60%;
    left: 10%;
    text-align: left;
    line-height: 2;
}
.skill-row {
    min-height: 105px;
    line-height: 200%;
    width: 70%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.background{
    color: #999999;
    position: relative;
    top: 0;
    left: 0;
}

.contact-me {
    display: flex;
}

.form-group {
    color: white;
    max-width: 80%;
    margin: 50px auto;
}

.accordion-item {
    background-color: rgb(17, 17, 17);
}


.accordion {
    max-width: 75%;
    margin: auto;
}

.accordion-button {
    background-color: #282828;
    color:white;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #393939;
}
.carousel-inner > .item >img{
    min-height : 300px;
    max-height : 300px;
    width : 100%;
}

.container{
    height:300px;
}


.carousel-item{
    min-height: 280px;
}

.carousel {overflow:hidden}

.bg-wrap {
    padding: 5%;
    overflow:visible;
    position: relative;
  }
  
.bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
  
.bg-content {
    position: relative;
  }

  .pictable{
    margin: auto;
    border-collapse: separate;
    border-spacing: 14em 1em;
    text-align: center;
  }